* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    margin: 0;
    background-image: url("https://images3.alphacoders.com/882/882548.jpg;");
}

img {
    width: 25rem;
    height: 15rem;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.body-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    flex-direction: column;
    flex-wrap: nowrap;
}

header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    order: 1;
    height: 7rem;
}

.header-scrolled {
    transition: all 0.5s;
    background-color: rgba(34, 34, 34, 0.9);
}

.header-img {
    width: 13rem;
    height: 10rem;
    margin-left: 5rem;
    padding-left: 0vmax;
}

.header-buscar {
    width: 3rem;
    padding-top: 2rem;
    padding-left: 20rem;
    padding-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-not {
    width: 3rem;
    padding-top: 2rem;
    padding-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-img a img {
    padding: 2rem;
    width: 12rem;
    height: 7rem;
}


/*Menu*/

nav {
    height: 7rem;
    font-family: Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.3rem;
}

.navmin {
    height: 7rem;
    font-family: Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    padding-top: 2rem;

    display: none;
}

.menumin {
    display: none;
    position: absolute;
    left: 5rem;

    top: 6rem;
    z-index: 2;
    width: 30rem;
    height: 40rem;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    border-top: 3px solid;
    border-top-color: rgba(255, 255, 255, 0.9);
}

.menumin div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    font-size: 2rem;
}

.navmin:hover .menumin {
    display: block;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: flex-end;
}

nav li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 2rem;
}

nav li a:hover {
    opacity: .9;
}


/*body*/

.body-peli {
    position: absolute;
    z-index: -1;
    top: -25px;
    opacity: 0.9;
    width: 100%;
    height: 60rem;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(/img/fondo.jpg);
    background-repeat: no-repeat;
}

.oculto-ar {
    width: 100%;
    height: 5rem;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.1));
    margin-top: 55rem;
}

.oculto-ab {
    width: 100%;
    height: 5rem;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.1));
}

.video {
    width: 100%;
    height: 30rem;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.peliculas {
    width: 100%;
    height: 20rem;

    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    padding-left: 5rem;
    padding-right: 5rem;
}

.peliculas::-webkit-scrollbar {
    display: none;
}

.peliculas-flecha {
    position: absolute;
    right: 0rem;
    width: 10%;
    height: 15rem;

    display: none;
    justify-content: center;
    align-items: center;


    z-index: 2;
    background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0.1));
    font-weight: bold;
}

.peliculas:hover .peliculas-flecha {
    display: flex;
}

.peliculas-flecha p {
    font-size: 50rem;
}

.titulos {
    width: 100%;
    height: 3rem;

    display: flex;

    flex-wrap: nowrap;
    font-size: 2rem;

    padding-bottom: 2rem;
    padding-left: 5rem;
}

.item {
    width: 29rem;
    height: 15rem;
    border-radius: 3px;
    padding-right: 1rem;
}

.item img {
    border-radius: 3px;
}

.item:hover {
    width: 29rem;
    height: 15rem;
    border-radius: 3px;

    transform: translateY(10px);
}

.body-des {
    width: 60rem;
    height: 15rem;
    font-size: 3rem;
    padding-left: 5rem;
    padding-bottom: 15rem;

    margin-top: 15rem;
    margin-bottom: 15rem;

    text-align: justify;
}

.body-des h2 {
    opacity: 0.8;
}

.body-des p {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.botones {
    display: flex;
    flex-wrap: nowrap;
}

.body-des button {
    border: none;
    outline: none;

    display: flex;
    padding-right: 3rem;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;

    margin-right: 2rem;

    font-weight: bold;
    text-align: justify;
    text-align: center;
    align-items: center;
}

.body-des button span {
    padding-left: 1rem;
    padding-right: 1rem;
}

#play_principal {
    padding: 1rem;
    color: rgb(0, 0, 0);
    font-size: 4rem;
}

#play_dos_a:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

#play_dos_b:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#play_dos_b {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(255, 255, 255);
    padding-right: 2rem;
}

.bus {
    display: block;

    width: 30rem;
    height: 40rem;
    overflow: auto;
}

.not {
    display: none;
    position: absolute;
    right: 8rem;

    top: 6rem;
    z-index: 2;
    width: 50rem;
    height: 40rem;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

#btn_buscar,
#btn_not {
    padding: 1rem;
}

#btn_buscar:hover .bus {
    display: block;
}

#btn_not:hover .not {
    display: block;
}

.peliculas-not {
    width: 100%;
    height: 30rem;

    display: flex;

    flex-wrap: nowrap;
    padding: 1rem;
    flex-direction: column;
}

.item-not {
    width: 100%;
    height: 12.1rem;
    border-bottom: .1rem solid;

    display: flex;
    align-items: center;
}

.item-not .titulo {
    font-size: 1.5rem;
}

.item-not .tex {
    font-size: 1rem;
    opacity: .8;
}

.item-not:hover {
    width: 100%;
    height: 12.1rem;
    background-color: rgba(0, 0, 0, .7);
}

.item-not img {
    width: 15rem;
    height: 12rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.header-usr {
    width: 3rem;
    padding-top: 3rem;
    padding-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}